body{

  background-color:#FDF6FF;
}

.widget{
  background-color: #BEB8BF;
  position: absolute;
  margin-left: 10%;
  margin-top: 15%;
  	border-style: solid;
}

#toptags{
  background-color:#FDF6FF;
  	border-style: solid;
}
